.TurnBlockAvailable {
  width: 100%;
  border: 0px solid;
  background-color: $block-color;
  color: $white;
  border-radius: $radius;
  box-shadow: 5px 5px 10px -10px black;
  margin: 20px 0px 0px 0px;
  padding: 15px 25px;
}
.nameTurnAndTeacher {
  display: inline-block;
}
.nameTurn {
  font-size: $middle-text;
  padding: 0;
}
.nameTeacher {
  display: inline-block;
  vertical-align: top;
  font-size: $small-text;
  margin: 0px 0px;
  color: $text-second-color;
  padding: 0;
}
.divRightButton {
  position: relative;
  height: 0px;
}
.joinBtn {
  position: absolute;
  background: $main-color;
  //margin: -40px 0px 15px -90px;
  top: 0;
  right: 0;
  //bottom: 100%;
  border-style: solid;
  border-width: 0px;
  border-radius: $radius;
  padding: 10px 15px;
  color: $text-color;
  font-size: $small-text;
}
.moreDetailed {
  vertical-align: top;
  font-size: $small-text;
  margin: 0px 0px;
  color: $text-second-color;
  padding: 0;
}