.PositionBlock{
  width:100%;
  position:relative;
  border-radius:$radius;
  text-align:left;
  background:$block-color;
  color:$text-second-color;
  //font-size: $middle-text;
  border:0;
  padding:5px;
  margin-top:10px;
  //font-weight:600;
  display: flex;
  justify-content: flex-start;
}
.PositionBlockGroup{
  color:$text-second-color;
  font-size:$small-text;
  font-weight:400;
  text-align:left;
  margin:0;
  padding:0;
}
.PositionBlockNumber{
  padding:10px;
  color:$text-second-color;
  font-size:$small-text;
  font-weight:400;
}
.deletePosition img{
  position: absolute;
  right: 5%;
  height: 40%;
  top:30%;
  bottom:30%;
}

.PositionBlockName {
  color: $text-second-color;
  font-size: $small-text;
  margin:0;
  padding:0;
  vertical-align: middle;
}
.PositionBlockNameOnly{
  display: flex;
  height: 100%;
  align-items: center;
}

