.NameBox {

  width: 100%;
  border: 0px solid;
  padding: 25px 30px;

  border-radius: $radius;
  background: $block-color;

  color: $white;

  font-size: $small-text;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top:25px;
}

.authInput{
  text-transform: lowercase;
}
.listParams{
  font-weight: normal;
  border-width: 4px;
  background-color: $background-color;
  border-color: $block-color;
  color: $text-second-color;
  padding: 15px;
  font-size: $small-text;
  border-style: solid;
  width:100%;
}
.paramsBlock{
  display: block;
}
.paramsOnStart {
  border-radius: $radius $radius 0 0;
  border-bottom-width: 0;
}
.paramsInMiddle {
  border-radius: 0;
  border-bottom-width: 0;
}
.paramsInEnd {
  border-radius: 0 0 $radius $radius;
}
.paramsActive {
  background-color: $main-color;
  transition: all 1s ease;
  color: $text-color;
}

.invisible_action{
  overflow: hidden;
  height:0;
  opacity: 0;
  transition: all 1s ease;
}

.visible_action{
  overflow: hidden;
  height: 100px;
  opacity: 1;
  transition: all 1s ease;
}
.selectF{
  padding: 25px;
}

.settingsParams{
  font-weight: normal;
  border-width: 4px;
  background-color: $background-color;
  border-color: $block-color;
  color: $text-second-color;
  padding: 15px;
  font-size: $small-text;
  border-style: solid;
  width:100%;
  border-radius: $radius;
  margin-top:25px;
  transition: all 1s ease;
}

.doneParamsBtn{
  background: $main-color;
  margin: 0;
  margin-top:35px;
  width: 100%;
  border-style: solid;
  border-width: 0px;
  border-color: $main-color;
  border-radius: $radius;
  padding: 8px 0px 8px 0px;
  color: $text-color;
  font-size: $small-text;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .paramsBlock{
    display: flex;
  }
  .paramsOnStart {
    border-radius: $radius 0 0 $radius;
    border-right-width: 0;
    width: 100%;
    border-bottom-width: 4px;
  }
  .paramsInMiddle {
    border-radius: 0;
    border-right-width: 0;
    width: 100%;
    border-bottom-width: 4px;
  }
  .paramsInEnd {
    border-radius: 0 $radius $radius 0;
    width: 100%;
  }
  .paramsActive {
    background-color: $main-color;
    transition: all 1s ease;
    color: $text-color;
  }
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.SubHeader{
  color: $text-second-color;
  font-size: $small-text;
  padding-top:25px;
  padding-bottom: 25px;
  padding-left:30px;
}

.background_modal{
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 10;
}
.add_z_index{
  z-index: -1 !important;
}
.modal_eturn{
  z-index: 10;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  opacity: 0;
  transition: opacity 1s ease;
}
.modal_eturn .inModal{
  background-color: $block-color;
  margin: 40px 15px 50px 15px;
  padding: 30px;
  border-radius: $radius;
}
@media screen and (orientation: landscape) {
  .modal_eturn .inModal {
    background-color: $block-color;
    margin: 40px $proportion 50px $proportion;
    padding: 30px;
    border-radius: $radius;
  }
}
.openModal{
  opacity: 1;
  z-index: 3;
  transition: opacity 1s ease;
}
.modal_eturn h1{
  color: $text-second-color;
  font-size: $large-text;
  text-align: center;
}
.modal_eturn h2{
  color: $main-color;
  font-size: $small-text;
  font-style: italic;
  text-align: center;
  padding-bottom: 25px;
}
.modal_eturn .form-check{
  color: $text-second-color;
  font-size: $middle-text;
}

.optionParam{
  padding: 10px;
}

//
//.input-group {
//  display: flex;
//  align-items: center; /* Выравниваем элементы по вертикали */
//}

//.input-group input.form-control {
//  flex-grow: 1; /* Растягиваем строку ввода на всё доступное пространство */
//  border: 0px solid;
//  padding: 30px;
//  border-radius: 100px;
//  background: #393939;
//  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
//  margin-right: 10px; /* Добавляем небольшой отступ справа */
//  color: white;
//  font-size: 19px;
//  font-style: normal;
//  font-weight: 400;
//  line-height: normal;
//}

//.input-group-append {
//  margin-left: 10px; /* Добавляем отступ между строкой ввода и кнопкой "Add" */
//}

.ParameterBox {
  width: 100%;
  border: 0px solid;
   padding: 19px 30px;

  flex-shrink: 0;
  border-radius: 100px;
  background: #393939;
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.05);
  margin:15px 0px 20px 0px;

  color: $white;

  font-size: $middle-text;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.ParameterText {
  color: #909090;

  font-size: $middle-text;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// .GroupBox {
//
//   width: 556px;
//   border: 0px solid;
//   height: 75px;
//   flex-shrink: 0;
//   border-radius: 0px;
//   background: #393939;
//   box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
//   margin: 0px 0px 20px 0px;
//
//   color: $white;
//
//   font-family: Exo 2;
//   font-size: $middle-text;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
// }