.TurnInfo{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  width:100%;
  margin-bottom: 10px;
}
.Title {
  border-radius: $radius;
  background-color: $main-color;
  //margin-right: 25px;
  text-align: left;
  padding: 10px 20px;
}
.TurnTitle{
  font-weight:700 ;
  font-size: $middle-text;
  color:$text-color;
}
.TurnCreator{
  font-size:$small-text;
  color:$text-color;
  padding:0;
  margin:0;
}
.Quantity{
  border-radius: $radius;
  background-color: $main-color;
  //position: relative;
  //margin-left: 15px;
  //text-align: left;
  //right:10px;
  color:$text-color;
  padding: 10px 20px;
}
.memebersQuantity{
  font-weight:700 ;
  font-size: $middle-text;
  margin:0;
}
.qpeople{
  font-size:$small-text;
  margin:0;
  //font-weight: 400;
}
.ExtraInfo{
  font-size: $small-text;
  border-radius: $radius;
  background-color:$block-color;
  color:$text-second-color;
  padding: 10px 20px;
  margin-bottom:10px;
}

.containerQuantity{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15px;
}

#quantityAdmins {
  font-size: $small-text;
  color: $main-color;
  //padding: 10px 10px 5px 200px;
  padding-right: 20px;
}

#quantityMembers {
  color: $main-color;
  font-size: $small-text;
  //padding: 10px 40px 5px 40px;
  padding-left: 20px;
}