
.wholeTurn{
  text-align: center;
}
.yourTurn{
  text-align: center;
  margin-bottom:15px;
}
.yourTurnTitle{
  color:$main-color;
  font-weight: bold;
  text-align: left;
  font-size: $small-text;
  padding: 8px 0 15px 20px;
  margin: 0;
}
.invisible_number{
  opacity: 0;
}

.yourTurnBlock{
  padding: 10px 20px;
  border-radius: $radius;
  background-color: $block-color;
  margin-top: 10px;
  color: $text-second-color;
}
.yourTurnBlock p{
  margin:0;
  text-align: left;
}
.yourTurnBlockIn{
  width: 100%;
  display: flex;
}
.yourTurnBlockIn .mainElementTurn{
  width: 100%;
  padding-left:20px;
  padding-bottom: 7px;
}
.countNeedWait{
  color: $main-color;
}
.BtnYourTurnGoIn{
  width:100%;
  background-color: $background-color;
  border: none;
  border-radius: $radius;
  padding: 10px;
  color: $text-second-color;
  margin-top:20px;
  font-weight: 700;
}
.BtnYourTurnGoOut{
  width:100%;
  background-color: $background-color;
  border: none;
  border-radius: $radius;
  padding: 10px;
  color: $text-btn-out;
  margin-top:20px;
  font-weight: 700;
}