.TurnInfo{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 35px;
  width:100%;
  margin-bottom: 15px;
}
.Title {
  border-radius: $radius;
  background-color: $main-color;
  //margin-right: 25px;
  text-align: left;
  padding: 10px;
}
.TurnTitle{
  font-weight:700 ;
  font-size: $middle-text;
  color:$text-color;
}
.TurnCreator{
  font-size:$middle-text;
  color:$text-color;
  font-weight: 400;
}
.Quantity{
  border-radius: $radius;
  background-color: $main-color;
  position: relative;
  //margin-left: 15px;
  text-align: left;
  right:10px;
  color:$text-color;
  padding: 10px;
  padding-left:15px;
}
.memebersQuantity{
  font-weight:700 ;
  font-size: $large-text ;
  margin-bottom: 7px;
}
.qpeople{
  font-size:$small-text;
  font-weight: 400;
}
.ExtraInfo{
  font-size: 13px;
  border-radius: $radius;
  background-color:$block-color;
  color:$white;
  padding: 10px;
  margin-bottom:15px;
}
