.upperBtns{
  display: flex;
  //justify-content: space-around;
  width:100%;
  margin:15px 0;

}
.upperBtns button{
  width: 100%;
  font-size: $small-text;
  //font-weight: 700;
  background-color: $main-color;
  color: $text-color;
  border-style: none;
  border-radius: $radius;
  padding: 12px 10px;
}

.btnLeftAction{
  margin-right:10px;
}
.btnRightAction{
  margin-left:10px;
  background-color: $block-color !important;
  color: $main-color !important;
}
.memberBtn button{
  background:#9ADBFF;
  border:0;
  border-radius:14px;
  font-size:12px;
  color:#181818;
  width:100%;
  margin-right: 15px;
  padding:5px;
}
.shareBtn button{
  background:#9ADBFF;
  border:0;
  border-radius:14px;
  font-size:12px;
  color:#181818;
  width:100%;
  margin-right: 15px;
  padding:5px;
}
.goOutBtn button{
  background:#393939;
  border-radius:14px;
  border:0;
  color:#9ADBFF;
  font-size:12px;
  width:100%;
  margin-right: 15px;
  padding: 5px;
}