.informationAboutStudent {
  text-align: center;
}
.name {
  text-align: left;
  width: 100%;
  border: 0px solid;
  background-color: $main-color;
  color: $white;
  border-radius: $radius;
  box-shadow: 5px 5px 10px -10px black;
  color: $text-color;
  padding: 10px 20px;
  margin-bottom: 0px;
}
.sectionNameUser {
  font-size: $small-text;
  margin: 0px 0px;
  color: $block-color;
}

.etuIdInformation{
  position: absolute;
  top: 34px;
  right: 15px;
  cursor: pointer;
}

.arrowBackBtn {
  position: absolute;
  top: 30px;
  right: $proportion;
  cursor: pointer;
}
@media screen and (orientation: landscape) {
  .etuIdInformation{
    right: $proportion;
  }
}

.etuIdInformation img{
  height: 30px;
}

.arrowBackBtn img{
  height: 50px;
}

.additionalInformation{
  padding: 10px 0px 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.nameTitle {
  font-size: $middle-text;
  margin:0;
}
.status {
  width: 100%;
  text-align: left;
  border: 0px solid;
  background-color: $block-color;
  color: $white;
  border-radius: $radius;
  box-shadow: 5px 5px 10px -10px black;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  padding: 10px 20px;
}
.group {
  width: 100%;
  text-align: left;
  border: 0px solid;
  background-color: $block-color;
  color: $white;
  border-radius: $radius;
  box-shadow: 5px 5px 10px -10px black;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  padding: 10px 20px;
}
.sectionName {
  font-size: $small-text;
  margin: 0px 0px;
  color: $text-second-color;
}
.statusAndGroup {
  font-size: $middle-text;
  margin:0;
  color: $white;
}
