.mainHeader {
  color: $text-second-color;
  font-size: $middle-text;
  text-align: center;
  padding-top:10px;
}

.noMemberFound{
  color: $main-color;
  text-align: center;
  font-size: $small-text;
}

.sameBlocks {
  position: relative;
  width: 100%;
  border: 0px solid;
  background-color: $block-color;
  color: $white;
  border-radius: $radius;
  box-shadow: 5px 5px 10px -10px black;
  margin-bottom: 10px;
  padding: 15px 25px;
}

.showing {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 30px;
  rotate: 0deg;
  transition: all 500ms ease-in-out;
}
.showAnim{
  rotate: 180deg;
  transition: all 500ms ease-in-out;
}

.searching {
  position: absolute;
  top: 20px;
  left: 0px;
}

.currentMember {
  position:relative;
  padding: 20px;
}

.textName {
  text-align: left;
  font-size: $small-text;
  margin: 0;
  color: $text-second-color;
}

.dots {
  height: 30px;
  border: none;
  background: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: absolute;
  top: 25px;
  right: 10px;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  position: absolute;
  background-color: $background-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: $text-second-color;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
