.typeTurn {
  text-align: center;
  padding: 10px;
  display: grid;
  font-size: $middle-text;
  grid-template-columns: 1fr 1fr;
}

.myTurn {
  color: $main-color;
  padding: 10px 0;
  //display: inline-block;
}

.available {
  color: $main-color;
  padding: 10px 0;
  //display: inline-block;
}
.available:hover{
  cursor: pointer;
}
.myTurn:hover{
  cursor: pointer;
}