.typeTurn {
  text-align: center;
  padding-bottom: 13px;
  display: grid;
  font-size: $small-text;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.myTurnActive {
  color: $text-color;
  background-color: $main-color;
  border-radius: $radius 0 0 $radius;
  padding: 16px 0;
  font-size:$small-text;
  //display: inline-block;
}

.availableNotActive {
  color: $main-color;
  background-color: $transparent-text;
  border-radius: 0px $radius $radius 0px;
  padding: 16px 0;
  font-size:$small-text;
  //display: inline-block;
}

.myTurnNotActive {
  color: $main-color;
  background-color: $transparent-text;
  border-radius: $radius 0 0 $radius;
  padding: 16px 0;
  font-size:$small-text;
  //display: inline-block;
}

.availableActive {
  color: $text-color;
  background-color: $main-color;
  border-radius: 0px $radius $radius 0px;
  padding: 16px 0;
  font-size:$small-text;
  //display: inline-block;
}

.available:hover{
  cursor: pointer;
}
.myTurn:hover{
  cursor: pointer;
}
