//$main-color: #9ADBFF;
//$text-color: #161f25;
//$text-second-color: #1c1c1c;
//$text-btn-out: #a01f1f;
//$block-color: #ffffff;
//$background-color: #e5ebff;
//$white: #FFF;
//$transparent-text: #465f6e;
//$transparent-text2: rgba(229, 235, 255, 0);

$main-color: #9ADBFF;
$text-color: #181818;
$text-second-color: #E2E2E2;
$text-btn-out: #a01f1f;
$block-color: #393939;
$background-color: #20232A;
$white: #FFF;
$transparent-text: #4C5E67;
$transparent-text2: rgba(32, 35, 42, 0);

$small-text: 15px;
$middle-text: 21px;
$large-text: 27px;
$sub-large-text: 22px;

$small-text-L: 18px;
$middle-text-L: 24px;
$large-text-L: 30px;
$sub-large-text-L: 25px;

$radius: 20px;
$proportion: 27%;


